{{>layout/header}}

<h1> Login Page </h1>
<hr/>
<form action="/user/login" method="POST"> <!-- 시큐리티에서 /login을 통해 인증처리를 할 예정 -->
    <input type="text" name="username" placeholder="username" autofocus/> <br/>
    <input type="password" name="password" placeholder="password"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" /> <!--  csrf 토큰  -->
    <button type="submit">Login</button>
</form>

<a href="/user/joinForm">회원 가입</a>

{{>layout/footer}}